<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8jvEKt5om1POksSlKbO0w2TtPSpIst0k</string>
	<key>GCM_SENDER_ID</key>
	<string>572297073167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickmorris.Defensio</string>
	<key>PROJECT_ID</key>
	<string>defensio-46cf4</string>
	<key>STORAGE_BUCKET</key>
	<string>defensio-46cf4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572297073167:ios:ca211804e80cd90447c97a</string>
</dict>
</plist>